* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    --theme-color: #e40000;
    --primary-color: #fb811e;
    --primary-light: #fcf1e7;
    --primary-dark: #ffc945;
    --secondary-color: #009f4d;
    --font-color: #707070;
    --bg-color: #fff;
    --heading-color: #060606;
    --footer-color: #060e1f;
    --footer-cpy-color: #040a17;
    --bg-grey: #f4f4f4;
    --bg-light: #fafafa;
    --bg-dark-color: #fff;
    --shadow-color: rgb(0 0 0 / 3%);
    --box-shadow: rgb(0 0 0 / 41%);
}

/* Common */
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.small-title {
    color: var(--primary-color);
    font-size: 22px;
}

.title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: var(--heading-color);
}

p {
    font-size: 17px;
    line-height: 27px;
    color: var(--font-color);
}

/* header */
/* carousel-section */
/* features */
/* services */
/* quality */



/* block-list */
/* gallery */
/* clients */
/* footer */